<!-- tmpl_include includes/header.html -->

<center>Change your password</center>

Passwords may be from 6 - 20 characters in length, letter and digits only.

<tmpl_if name="some_errors">Some errors have occurred:</tmpl_if>

<form action="" method="POST">
<input type="hidden" name="rm" value="update_password">
<table>
  <tr>
    <td>Enter your current password: <tmpl_var name="err_password_current"></td>
    <td><input type="password" name="password_current"></td>
  </tr>
  <tr>
    <td>Enter your new password: <tmpl_var name="err_password"></td>
    <td><input type="password" name="password"></td>
  </tr>
  <tr>
    <td>Confirm your new password: <tmpl_var name="err_password_confirm"></td>
    <td><input type="password" name="password_confirm"></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit"></td>
  </tr>
</table>
</form>

<tmpl_include name="includes/footer.html">
